*{
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
    margin: 0;
    padding: 0;
}
header{
    background-image: url(/images/banner/banner1.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    /* max-width: 1600px; */
}
.banner-content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 215px;
    padding-right: 230px;
    padding-bottom: 165px;
    text-align: right;

}
.margin h1{
    color: var(--Dark 01, rgba(21, 20, 20, 1));
    /* font-style: Bold; */
    font-size: 65px;
    /* max-width: 625px; */
    max-height: 228px;
    /* font-weight: 700; */
    /* line-height: ; */
    text-align: right;
    margin-bottom: 24px;
}
.margin p{
    color: var(--Dark 02, rgba(68, 67, 67, 1));
    /* border: 1px solid black; */
    max-width: 495px;
    height: auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 34px;
    
}
.btn{
    background: rgba(241, 91, 34, 1);
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    color: white;    
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    cursor: pointer;
    
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-top: 125px;
    padding-right: 300px;
    gap: 125px;
}
.content h2{
    max-width: 288px;
    font-size: 40px;
    margin-bottom: 24px;
}
.content .texts p{
    max-width: 416px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
    color: var(--Dark 02, rgba(68, 67, 67, 1));
}
.content .list p{
    
   line-height: 26px;
}
.plans{
    text-align: center;
    margin-top: 130px ;
    margin-left: 230px ;
    margin-right: 230px ;
}

.plans .flexing{
    display: flex;
    gap: 86px;
    justify-content: center;
    margin-top: 50px;
}
.max img{
    margin-bottom: 15px;
}
.max h3{
    margin-bottom: 10px;
    font-size: 30px;
    
}
.max p{
    font-size: 25px;
    
}
.plan-heading {
    font-size: 40px;
}
.mindset div{
    background-image: url(/images/gradient2.png), url(images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* max-height: 300px; */
    /* max-width: 1140px; */
    padding: 60px 615px 60px 65px;
    border-radius: 10px;
}
.mindset{
    margin: 130px 230px;

    text-align: left;
    /* justify-content: center; */
    /* align-items: center; */
}
.mindset h3{
    font-size: 40px;
    color: white;
}
.btn2{
    background: white;
    padding: 20px 35px;
    border: none;
    border-radius: 5px;
    color: #F15B22;
    margin-top: 24px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.footer{
    background-color: black;
    color: white;
    padding: 130px 230px;
}
.flex-footer{
    display: flex;
    justify-content: space-between;
}
.future h2{
    font-size: 45px;
}
.future{
    max-width: 485px;
}
.future p{
    margin-bottom: 16px;
    line-height: 26px;
}
form h3{
    font-size: 25px;
    margin-bottom: 31px;
}
.social{
    display: flex;
    gap: 17px;
}
.form .email{
    padding: 21px 0px 21px 21px;
    width: 325px;
    margin-bottom: 0px;
    font-size: 18px;
    border-radius: 10px;
}
